html, body, div, span, h1, h2, h3, h4, p, blockquote, a, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}

/* First, typography */
body {
	font-family: "Helvetica Neue", Helvetica;
	font-size: 14px;
	line-height: 1.5em;
}
h1, h2 {font-weight: bold}
h1 {font-size: 2em; line-height: 2em;}
h2 {font-size: 1.5em; line-break: 1em;}

/* Basic apperance */
body {background: #ccc;}

body > header, input[type=submit] {
	border-bottom: 1px solid #000;
	text-align: center;
	
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	color: #fff;
}

body article {
	padding: 1em 0.5em;
}
body article > section {
	margin: 1em 0;
	padding: 1em 0.5em;
	border: 1px solid #000;
	border-radius: 5px;
	
	background: #fff;
}

body article > section:first-of-type {
	margin-top: 0;
}

section:nth-of-type(4) {text-align: center;}
input[type=submit] {
	width: 80%;
	font-size: 1em;
	line-height: 1.5em;
	border: 1px solid rgb(169,3,41);
	border-radius: 10px;
}

section#result {
	position: absolute;
	top: 57px;
	left: 2%;
	width: 92.5%;
	display: none;
	-webkit-box-shadow: 0 0 4px #000, 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 6px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px #000, 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 6px rgba(0,0,0,0.3);
}
#result:target {
	display: block;
}

/* Slightly bigger screens (tablets etc.), 2 columns */
@media all and (min-width: 481px) {
	body {
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 0;
	}
	body article {
		padding: 1em 0;
	}
	body article > section {
		-webkit-box-sizing: border-box;
		width: 48.4375%;
		float: left;
		margin: 0;
		
		margin-right: 3.125%;
	}
	body article > section:nth-of-type(2n) {
		margin-right: 0;
	}
}

@media all and (min-width: 481px) and (max-width: 780px) {
	body article > section:nth-of-type(4) {
		position: absolute;
		left: 50%;
		margin-left: -24.21875%;
		//margin-top: 9em;
		text-align: center;
	}
	body article > section:nth-of-type(5), body article > section:nth-of-type(3) {
		position: absolute;
		top: 21em;
	}
	body article > section:nth-of-type(5) {right: 0px; margin-right: 0%;}
}

/* Sizing it up and using 3 columns */
@media all and (min-width: 780px) {
	body article > section {
		width: 31.25%;
		margin-right: 3.125%;
	}
	body article > section:nth-of-type(2n) {
		margin-right: 3.125%;
	}
	body article > section:nth-of-type(3n) {
		margin-right: 0;
	}
}

/* Bigger, but still 3 columns */
@media all and (min-width: 960px) {
	body article {
		width: 960px;
		position: relative;
		margin: 0 auto;
	}
}